html, body, h1, dd {
	margin: 0;
	padding: 0;
}
main {
	overflow: hidden;
}
.bold {
	font-weight: 700;
}
h1 {
	background-color: #09f;
	float: left;
	color: #fff;
	padding-top: 60px;
	width: 20%;
	padding-bottom: 900px;
	margin-bottom: -900px;
	box-sizing: border-box;
	text-align: center;
	margin-right: 20px;
}
section {
	overflow: hidden;
	padding-bottom: 900px;
	margin-bottom: -900px;	
}
